@model EntityLayer.Concrete.panelUser
<div class="profile-pic">
	<div class="count-indicator">
		<img class="img-xs rounded-circle " src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/user_avatar.png" alt="">
		<span class="count bg-success"></span>
	</div>
	<div class="profile-name">
		<h5 class="mb-0 font-weight-normal">@Model.UserName</h5>
		<span>Gold Member</span>
	</div>
</div>