@model ArizaKaydi.Models.PanelUserViewModel
@{
    var defaultProfilePic = "~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/user_avatar.png";
    var profilePicSource = !string.IsNullOrEmpty(Model.ImageURL) ? Model.ImageURL : Url.Content(defaultProfilePic);
    var altText = !string.IsNullOrEmpty(Model.ImageURL) ? "Profil Resmi" : "Varsayılan Profil Resmi";
}

<div class="profile-pic">
    <div class="count-indicator">
     
        <img class="img-xs rounded-circle" src="@profilePicSource" alt="@altText">
        <span class="count bg-success"></span>
    </div>
    <div class="profile-name">
        <h5 class="mb-0 font-weight-normal">@Model.UserName</h5>
        <span>@Model.Role</span>
    </div>
</div>